#**Encodings**
Considerations:
- Label Encoding: It's generally used for ordinal variables or as a preprocessing step before applying certain algorithms that require labels to be encoded as integers. It assigns a unique integer to each category.

- Dummy Encoding: This approach is widely used for nominal variables where no ordinal relationship exists. The get_dummies method from pandas creates a new column for each category and is suitable for most machine learning models, helping them understand categorical data without imposing an artificial order.

- Missing Values: Before encoding, handle missing values in your data, as trying to encode NaN values may lead to errors. The dataset loaded may contain missing values, especially in columns like 'embarked'.

Selection of Encoding Method: The choice between label encoding and dummy encoding depends on the specific requirements of your model and the nature of your categorical data (ordinal vs. nominal).

In [ ]:
import pandas as pd
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import LabelEncoder

# Load the Titanic dataset
titanic = fetch_openml('titanic', version=1, as_frame=True)
df = titanic.data

# Display the original DataFrame
print("\n ORIGINAL dataframe\n")
print(df.head())

# Example categorical features for demonstration
categorical_features = ['embarked', 'sex']

# Label Encoding
label_encoder = LabelEncoder()
for column in categorical_features:
    df[column + '_label'] = label_encoder.fit_transform(df[column].astype(str))

# Dummy (One-Hot) Encoding
# Pandas get_dummies function is used for one-hot encoding. `drop_first=True` can be used to drop the first level to avoid dummy variable trap.
df = pd.get_dummies(df, columns=categorical_features, prefix=[f"{col}_dummy" for col in categorical_features], drop_first=True)

# Display the transformed DataFrame
print("\n TRANSFORMED dataframe\n")
print(df.head())

 ORIGINAL dataframe

   pclass                                             name     sex      age  \
0     1.0                    Allen, Miss. Elisabeth Walton  female  29.0000
1     1.0                   Allison, Master. Hudson Trevor    male   0.9167
2     1.0                     Allison, Miss. Helen Loraine  female   2.0000
3     1.0             Allison, Mr. Hudson Joshua Creighton    male  30.0000
4     1.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000

   sibsp  parch  ticket      fare    cabin embarked  boat   body  \
0    0.0    0.0   24160  211.3375       B5        S     2   None
1    1.0    2.0  113781  151.5500  C22 C26        S    11    NaN
2    1.0    2.0  113781  151.5500  C22 C26        S  None    NaN
3    1.0    2.0  113781  151.5500  C22 C26        S  None  135.0
4    1.0    2.0  113781  151.5500  C22 C26        S  None    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

 TRANSFORMED dataframe

   pclass                                             name      age  sibsp  \
0     1.0                    Allen, Miss. Elisabeth Walton  29.0000    0.0
1     1.0                   Allison, Master. Hudson Trevor   0.9167    1.0
2     1.0                     Allison, Miss. Helen Loraine   2.0000    1.0
3     1.0             Allison, Mr. Hudson Joshua Creighton  30.0000    1.0
4     1.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  25.0000    1.0

   parch  ticket      fare    cabin  boat   body  \
0    0.0   24160  211.3375       B5     2   None
1    2.0  113781  151.5500  C22 C26    11    NaN
2    2.0  113781  151.5500  C22 C26  None    NaN
3    2.0  113781  151.5500  C22 C26  None  135.0
4    2.0  113781  151.5500  C22 C26  None    NaN

                         home.dest  embarked_label  sex_label  \
0                     St Louis, MO               2          0
1  Montreal, PQ / Chesterville, ON               2          1
2  Montreal, PQ / Chesterville, ON               2          0
3  Montreal, PQ / Chesterville, ON               2          1
4  Montreal, PQ / Chesterville, ON               2          0

   embarked_dummy_Q  embarked_dummy_S  sex_dummy_male
0                 0                 1               0
1                 0                 1               1
2                 0                 1               0
3                 0                 1               1
4                 0                 1               0

/usr/local/lib/python3.10/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(